<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Jobs</title>
    <!-- CSS only -->
    <link rel="icon"
        href="https://png.pngtree.com/png-vector/20191021/ourlarge/pngtree-vector-jobs-icon-png-image_1833495.jpg"
        type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
        * {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }
    </style>

</head>

<body>
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://e3.365dm.com/21/03/768x432/2372103190295984307_5310817.jpg?20210319162443"
                        class="rounded img-fluid" alt="Cinque Terre"
                        style="width: 400px; height: 420px; margin-top: 60px; margin-left: 85px;">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="margin-top: 40px; margin-left: -52px;">
                    <form class="form col-12 " method="POST" action="/add_jobs/">
                        {%csrf_token %}
                        <!-- Job type input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example13">Job Type</label>
                            <input type="text" name="jobtype" id="form1Example13" placeholder="Type your jobt ype"
                                class="form-control form-control-lg" required>
                        </div>
                        <!-- Job name input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example13">Job Name</label>
                            <input type="text" name="jobname" id="form1Example13" placeholder="Type your job name"
                                class="form-control form-control-lg" required>
                        </div>
                        <!-- Vacancies input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example13">Vacancies</label>
                            <input type="number" name="vacancies" id="form1Example13" placeholder="Type your vacancies"
                                class="form-control form-control-lg" required>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-info btn-lg btn-block">Add</button>
                        <a href="/recruiter_home/">Back</a>
                    </form>

                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8677b4cc00.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>